/* Reset */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Global styles */
body {
  overflow-x: hidden;
  background-color: var(--clr-main);
}

body, button, input, select {
  font-family: 'Open Sans', sans-serif;
}