:root {
  --clr-main: #e1e4e6;
  --clr-accent: #97bacf;
  --clr-aux: #67669c;
  --clr-secondary: #464577;
  --clr-medium-blue: #cfdae4;
  --clr-dark-shadow: #c4c6c8;
  --clr-soft-shadow: #feffff;
  --clr-dark-gray: #787a7a;
}