@use "../../styles/utils/" as utils;

.menu {
  --button-size: 2rem;
  display: flex;
  background-color: rgb(var(--clr-secondary-rgb) / 0.75);
  transition: transform 450ms ease-in-out;
  z-index: 2;

  &.hide {
    transform: translateX(calc(100% + 50px));
  }

  @include utils.breakpoints-down(sm) {
    position: fixed;
    top: 0;
    right: 0;

    flex-direction: column;

    padding: calc(var(--button-size) + 1.5rem) 0;
    width: 80%;
    max-width: 20rem;
  }

  @include utils.breakpoints(sm) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    padding: 1rem 0;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}