.logo {
  --width: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--width);
  height: var(--width);

  &__wrapper {
    padding: 0.5rem 0;
  }

  &__square {
    --length: calc(var(--width) * 0.5);
    --border-width: calc(var(--width) * 0.09);

    width: var(--length);
    height: var(--length);
    border-color: var(--clr-secondary);

    &:nth-child(1) {
      --length: calc(var(--width) * 0.4);
      width: var(--length);
      height: var(--length);
      border: var(--border-width) solid var(--clr-secondary);
    }

    &:nth-child(2) {
      border: var(--border-width) solid var(--clr-secondary);
      border-bottom: none;
    }

    &:nth-child(3) {
      width: calc(var(--length) + var(--border-width));
      border: var(--border-width) solid var(--clr-secondary);
      border-right: none;
    }

    &:nth-child(4) {
      width: calc(var(--length) - var(--border-width));
      border-right: var(--border-width) solid var(--clr-secondary);
      border-bottom: var(--border-width) solid var(--clr-secondary);
    }
  }
}