.logo {
  --width: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--width);
  height: var(--width);

  &__wrapper {
    padding: 0.5rem 0;
  }

  &__square {
    --length: calc(var(--width) * 0.5);

    width: var(--length);
    height: var(--length);
    border: calc(var(--width) * 0.1) solid var(--clr-secondary);

    &:nth-child(1) {
      --length: calc(var(--width) * 0.4);
      width: var(--length);
      height: var(--length);
    }
  }
}