@use "../../styles/utils/" as utils;

.hero {
  &__wrapper {
    display: flex;
    align-items: var(--content-pos, flex-end);
    padding-bottom: 2rem;
    margin-top: -4rem;

    min-height: max(24rem, 80vh);

    background-image: var(--url);
    background-color: var(--bg-color, var(--clr-main));
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--bg-pos, center);
  }

  &__heading {
    color: var(--clr-secondary);
    line-height: 95%;

    @include utils.breakpoints(xs) {
      font-size: 1.25rem;
    }

    @include utils.breakpoints(sm) {
      font-size: 1.5rem;
    }

    @include utils.breakpoints(md) {
      font-size: 1.75rem;
    }

    @include utils.breakpoints(sm) {
      font-size: 2rem;
    }
  }

  &__body {
    margin-top: 4.5rem;
    justify-self: start;
    max-width: min(80%, 48rem);
  }

  &__text {
    display: none;
    color: var(--clr-dark-blue);
    margin-top: 0.75rem;
  }

  &__button {
    position: relative;
    overflow: hidden;
    font-size: 0.935rem;
    font-weight: 600;
    color: var(--clr-gold);
    padding: 0.75rem 1.5rem;
    min-width: calc(min(80%, 48rem) * 0.55);
    margin-top: 1.25rem;
    background-color: var(--clr-darkish-purple);
    border: none;
    cursor: pointer;

    span {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      transform: translateY(100%);
      background-color: var(--clr-secondary);
      transition: transform 250ms ease-in-out;
    }

    &:hover {
      &::before {
        transform: translateY(0);
      }
    }
  }

  @include utils.breakpoints(xs) {
    &__text {
      display: block;
    }
  }

  @include utils.breakpoints(lg) {
    &__heading {
      font-size: 1.75rem;
    }

    &__text {
      font-size: 1.25rem;
    }

    &__button {
      font-size: 1rem;
    }
  }

  @include utils.breakpoints(xl) {
    &__heading {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.4rem;
    }

    &__button {
      font-size: 1.125rem;
    }
  }
}