@mixin neumorphic-shadow($soft-shadow, $dark-shadow, $dispersion, $blur) {
  box-shadow:
    $dispersion $dispersion $blur $dark-shadow,
    calc($dispersion * -1) calc($dispersion * -1) $blur $soft-shadow;
}

@mixin gen-neumorphic-shadow($soft-shadow, $dark-shadow, $size) {
  $dispersion: calc($size * 0.1);
  $blur: calc($size * 0.25);

  box-shadow:
    $dispersion $dispersion $blur $dark-shadow,
    calc($dispersion * -1) calc($dispersion * -1) $blur $soft-shadow;
}