@use "../utils/breakpoints.scss" as utils;

.container {
  width: 100%;
  padding: 0 1rem;

  @include utils.breakpoints(sm) {
    width: 94%;
    padding: 0;
    max-width: 90rem;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.25rem;
}