.pagination-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  background-color: var(--clr-darkish-purple);
  color: var(--clr-gold);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  &__number {
    font-size: 0.875rem;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;

    width: 150%;
    height: 100%;
    background-color: var(--clr-secondary);
    border-radius: 0.25rem;

    transform: translateY(0);
    transition: transform 250ms  ease-in;
  }

  &:hover, &.active {
    &::before {
      transform: translateY(-100%);
    }
  }
}